@import 'compass/css3';

$lh: 20px;

.hidden-handlebars-users {
  min-height: $lh;

  &.hide {
    width: 0;
    overflow: hidden;

    em { white-space: nowrap; }
    ul { display: none;}
  }

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-right: $lh;

      a {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        display: block;
        border: 1px solid #ddd;
        border-radius: $lh/2;
        line-height: $lh;
        background: #eee;
        padding: 0 $lh/2;
        color: #ccc;
        text-decoration: none;

        &:hover, &:focus {
          color: #000;
        }
      }

    }
  }
}

.handlebars-table {
  margin: 0 0 1em 0;
  position: relative;
  padding-left: 5em;
  padding-top: 0;
  overflow-y: hidden;
  white-space: nowrap;
  min-height: 8*4*$lh;

  > ul {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      display: block;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      line-height: $lh;
    }
  }

  .times {
    padding: 2em 0 0 0;
    margin-right: 1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    > li {
      &:before {
        $shadow: 2px 1px #f5f5f5;
        content: '';
        box-shadow: 0 $lh $shadow, 0 2*$lh $shadow, 0 3*$lh $shadow;
        height: 0;
        position: absolute;
        top: 0;
        left: 5em;
        right: 0;
      }

      height: 4*$lh;
      padding: 3*$lh 1em 0 0;
      min-width: 8*$lh;
      border-bottom: 1px solid #ddd;
      // border-top: 0;
      text-align: left;
      font-weight: bold;
      position: relative;

      &:nth-child(8n) {
        border-bottom-color: #888;
        @include background(linear-gradient(#fff, #ebebeb));
      }
    }
  }

  .handlebars {
    margin-left: -1px;
    margin-bottom: 2em;
    background: #fff;
    position: relative;
    z-index: 1;

    &.hidden {
      display: none;
    }

    li {
      max-width: 25em;
      padding: 0 2em 0 1em;
    }

    li.user-name {
      height: 2em;
      line-height: 2em;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      position: relative;

      .hide {
        display: inline-block;
        vertical-align: middle;
        border: 1px solid #000;
        border-radius: 3px;
        width: 10px;
        height: 10px;
        color: #000;
        text-decoration: none;
        text-align: center;

        &:before {
          content: '-';
          line-height: 10px;
          font-size: 10px;
          height: 10px;
          display: block;
        }
      }

      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        font-size: 1.2em;
        margin: 0;
        padding: 0;
        cursor: pointer;
      }
    }

    .handlebar {
      position: relative;
      border: 1px solid #ddd;
      border-top: 0;
      padding-left: 2em;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        margin: 5px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
      }


      @for $i from 1 through 16*4 {
        &.height-#{$i} { height: $i*$lh; }
      }

      a, span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;
        font-size: .8em;
      }

      &.selected {
        background: #169;
        // border-left: 2px solid #aaa;

        a {
          color: #fff;
        }
      }

      &.feedback {
        // background: #ddd;

        &:before,
        span.status {
          @include opacity(.5);
        }

        a {
          color: #e2e2e2;
        }
      }

      span.progress {
        position: absolute;
        top: 0;
        left: 0;

        height: 2px;
        background: #48B348;

        @for $i from 0 through 10 {
          &.done-#{10*$i} {
            width: $i*10%;
          }
        }
      }

      span.status {
        position: absolute;
        top: 0;
        right: 0;
      }

      i.play {
        &:before {
          content: '';
          border: 5px solid transparent;
          border-left-color: #000;
          border-left-width: 8px;
          border-right-width: 0;
          display: inline-block;
        }
        margin-right: .5em;
        cursor: help;
      }

      i.overtime {
        margin-right: .5em;
        font-weight: bold;
        color: #f33;
        cursor: help;

      }

      span.more-than-max {
        position: absolute;
        bottom: 0;
        left: 0;
      }

    }
  }
}


body .ui-tooltip {
  box-shadow: 1px 1px 0 #ddd;
  border: 1px solid #888;
  background: #fff;
  border-radius: 0;
}
